//Fuentes
$root-fonts : "assets/fonts/";
$root-images : "assets/images/";

/* Colors */
$main_green: #b6cb2a;
$dark_grey: #303030;
$grey: #dddddd;
$light_grey: #eeeeee;
$orange: #ff9e14;
$yellow: #ffe432;
$red: #e14a42;
.bg-green {background-color:$main_green;}
.color-green {color:$main_green;}
